[submodule "OrderService"]
	path = OrderService
	url = git@github.com:piolAtif/OrderService.git
[submodule "RestaurantService"]
	path = RestaurantService
	url = git@github.com:piolAtif/RestaurantService.git
[submodule "ConsumerService"]
	path = ConsumerService
	url = git@github.com:piolAtif/ConsumerService.git
[submodule "KitchenService"]
	path = KitchenService
	url = git@github.com:piolAtif/KitchenService.git
